<web-app><!--XML文書がWEBapplicationのディスクリプタ（WEBapplicationの構成情報を定義）-->
    <servlet><!--servlet setting inside specific function-->
        <servlet-name>MyServlet</servlet-name><!--サーブレット認識-->
        <servlet-class>com.example.MyServlet</servlet-class><!---->
    </servlet><!---->
    <servlet-mapping><!---->
        <servlet-name>MyServlet</servlet-name><!---->
        <url-pattern>/Servlet</url-pattern> <!-- 任意のURLパスを指定 -->
    </servlet-mapping><!---->
</web-app>